{include file="header" /}

{neq name=":config('web_site_image')" value=""}
<img src="{:config('web_site_image')}" class="topimage">
{/neq}

<div class="list-box clear w128">
    {include file="sider" /}
    <div class="list-r">
        <div class="position">
            <h5>{$catname}</h5>
            <p>位置：
                <a href="{$siteurl}">首页</a>
                &gt;
                {:catpos($catid)}
            </p>
            <div class="list-nav-icon"><img src="__IMG_PATH__/list-nav03.png"></div>
        </div>
        <div class="list01 ">
            <ul class="honor-list clearfix" id="">
                {yzn module="cms" action="lists" catid="$catid" cache="3600" order="listorder DESC" num="6" page="$page" return="data"}
                {volist name="data" id="vo" mod="3"}
                <li class="mb20">
                <a href="{$vo.url}" class="pic transition">
                    <img src="{$vo.thumb|default='https://via.placeholder.com/245x345'}"  alt="{$vo.title}" title="{$vo.title}">
                </a>
                <p class="clam1">{$vo.title}</p>
                </li>
                {/volist}
                {/yzn}
            </ul>
        </div>
        <!--S 分页-->
        {$pages|raw}
        <!--E 分页-->
        </div>
    </div>
</div>

{include file="footer" /}